
  
/* .forgotPassword {
    border:5px sandybrown solid;
} */
.forgotPassword p {
    padding: 3px 0px;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
}
.remember-me {
    /* border: 5px slateblue solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
}
.message {
    /* border:5px green solid; */
    margin:0px;
    padding: 0px 10px;
    white-space: nowrap;
    overflow: hidden;
}

