.leftSide {
    height: 100vh;
    width: 35vw;
    background-image: linear-gradient(210deg, #B1D5ED 0.68%, #FDAB13 100%);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px purple solid;

    flex: 1 1 auto;
}
.logo {
    border: 5px blue solid;
}
.rightSide {
    height: 100vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px yellow solid;
}
.topLogo {
    margin-top: 50px;
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   