.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30vw;
    height:70vh;
    border: 5px red solid;
}
.header {
    width: 100%;
    height: 8vh;
    border: 5px green solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    
}
.selectUploadType {
    border: 5px pink solid;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 1vh;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
}
.selectionRow {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: space-between;
    gap: 1vw;
    border: 5px blue solid;
    height:7vh;
}