@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navigation {
  width:240px;
  height: 100vh;
  background-color: #072031;
  transition: width 0.3s ease;
  position: fixed;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  /* border: 5px pink solid; */
}
.toggle-btn {
  position: absolute;
  right: -20px;
  top: 50px;
  width: 20px;
  height: 40px;
  background-color: #072031;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

}

.nav-header {
  /* border: 5px blue solid; */
  width: 100%;
  min-height:23vh;
  display: flex;
  justify-content: center;
  position: sticky;
}
nav {
  display: flex;
  flex-direction: column;
  width:100%;
  /* border: 5px green solid; */
  min-height: fit-content;
}

.navigation.collapsed {
  width: 10px;
  transition: width 0.3s ease;
}

.bottom {
  margin-top: auto;
  margin-bottom: 2vh;
  /* border: 2px purple solid; */
}
.nav-components {
  /* border: 5px yellow solid; */
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.nav-components::-webkit-scrollbar {
  display: none;
}



