.dropContainer {
    border: 5px orange solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height:25vh;
    border: 2px #C6C6C6 dashed;
    overflow: hidden;
    margin-top: 5px;
}

.pluslogo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.file-drop-text {
    color: var(--Black-L2, #363939);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.2px;
    padding: 0;
    margin:0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }


  .bottomWord {
    margin:0;
    padding:0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
  .browse-file {
    color: #1681EC;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 15px */
    padding:0;
    margin:0;
  }
  
  .from-computer {
    color: var(--Black-L3, #57595A);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding:0;
    margin:0;
    margin-left:4px;
}

.seeFiles {
    overflow-y: scroll;
    height: 15vh;
    /* border: 3px seagreen solid; */
}

.seeFiles::-webkit-scrollbar {
    display: none;
}

.popUpContainer {
    height: 8vh;
    border: 1px solid var(--Grey-L1, #D2D3D3);
    border-radius: 5px;
    display:flex ;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    padding-left: 1vw;
}

.fileInfo {
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}
.closeButton {
    margin-left: auto;
    margin-right: 1vw;
    padding-top: 1vh;;
}

.fileName {
    color: var(--Black-L2, #363939);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* border: 1px black solid; */
    margin:0;
    padding:0;
  }
  .fileSize {
    color: var(--Black-L3, #57595A);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin:0;
    padding:0;
    
  }


  

