@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;900&display=swap');

.navigation {
  width: 10%;
  height: 100vh;
  background-color: #333;
  transition: all 0.3s ease;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.navigation.collapsed {
  width: 0;
}
.navigation.collapsed .nav-item,
.navigation.collapsed .nav-title {
  visibility: hidden;
}
.nav-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: white;
  margin: 0;
  font-size: 1.5rem;
}

.toggle-btn {
  position: absolute;
  right: -20px;
  top: 10%;
  width: 20px;
  height: 40px;
  background-color: #333;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1004;
  transition: left 0.3 ease;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.nav-item {
  padding: 0.8rem 1rem;
  color: white;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  transition: all 0.3s ease;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.nav-item::before {
  content: '';
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffd700;
  transition: left 0.3s ease;
  z-index: -1;
}

.navigation.collapsed .nav-item.selected {
  transform: translateX(-5vw); 
  transition: transform 0.3s ease;
}
.nav-item:hover {
  color: black;
}

.nav-item:hover::before {
  left: 0;
}

.nav-item.selected {
  background-color: #444;
  color: white;
  transition: all 0.3s ease;
}


.nav-item.selected:hover {
  color: black;
}
